/*
   Licensed to Jasig under one or more contributor license
   agreements. See the NOTICE file distributed with this work
   for additional information regarding copyright ownership.
   Jasig licenses this file to you under the Apache License,
   Version 2.0 (the "License"); you may not use this file
   except in compliance with the License. You may obtain a
   copy of the License at:
  
   http://www.apache.org/licenses/LICENSE-2.0
  
   Unless required by applicable law or agreed to in writing,
   software distributed under the License is distributed on
   an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   KIND, either express or implied. See the License for the
   specific language governing permissions and limitations
   under the License.  
*/
body {
  color: black;
  background-color: white;
}

#bedework {
  /* this is the main wrapper div used to encapsulate all Bedework CSS; we
     will prepend each selector below with this ID - this helps encapsulate
     the css for use in portal environments (though it does imply that only
     one instance should be running on a portal page") */
  font-family : Arial, Helvetica, sans-serif;
  font-size: 100%; /* to make IE behave */
  background-color : white;
  color : black;
  padding: 0.75em 1em 0em 1em;
  margin: 0;
  min-width: 828px;
}
/* Generic selectors*/
#bedework h2 {
  margin: 0em;
  padding: 0.2em 0.2em 0.2em 0.5em;
  font-size: 1.3em;
  border-bottom: 1px solid #ccc;
  /*border-top: 1px solid #ccc;*/
}
#bedework #bodyBlock h2 {
  color: black;
  background: #f5f5f5;
}
#bedework h2 a:link,
#bedework h2 a:active,
#bedework h2 a:visited,
#bedework h2 a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
#bedework h2.bwStatusConfirmed,
#bedework h2.common {
  background-color: #eee;
  color: black;
}
#bedework h2.bwStatusCancelled {
  background-color: #eee;
  color: black;
}
#bedework h2.bwStatusTentative {
  background: #eee url("../images/tentativeLines.gif") top !important;
  color: black;
}
#bedework .formButtons {
  float: right;
  font-size: 0.8em;
}
#bedework div.eventSubmitButtons,
#bedework div.submitButtons {
  clear: both;
  text-align: right;
  margin: 1em 0.5em;
}
#bedework input[type=text]:focus,
#bedework textarea:focus,
#bedework select:focus {
	background-color: #DFEAFF !important;
	color: inherit;
}
::-webkit-input-placeholder {
  color: #777 !important;
}
:-moz-placeholder {
  color: #777 !important;
}
:-ms-input-placeholder {
  color: #777 !important;
}
#bedework select:focus option {
  background-color: white;
  color: inherit;
}
#bedework .eventSubmitButtons input,
#bedework .formButtons input {
  margin: 0;
  font-size: 0.8em;
}
#bedework h3 {
  margin: 0em;
  padding: 1em 0.2em 0em 0.2em;
  font-size: 1.1em;
}
#bedework h4 {
  margin: 0em;
  padding: 1em 0.2em 0em 0.2em;
  font-size: 1em;
}
#bedework td {
  vertical-align: top;
}
#bedework .center {
  text-align: center;
}
#bedework .small {
  font-size: 0.8em;
}
/* Header IDs and classes */
#bedework #logoTable {
  padding: 0em;
  margin: 0em;
}
#bedework #logoTable #logoCell {
  white-space: nowrap;
  font-weight: bold;
  font-size: 2em;
}
#bedework #logoTable img {
  padding: 0 0 2px 5px;
  margin: 0;
}
#bedework #logoTable #schoolLinksCell {
  vertical-align: bottom;
  text-align: right;
  font-size: 0.8em;
  white-space : nowrap;
  padding: 0 2px 2px 0;
}
#bedework #logoTable #schoolLinksCell h2 {
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 2em;
  color: #444;
  background-color: transparent;
  border: none;
}
#bedework #logoTable #schoolLinksCell a:link,
#bedework #logoTable #schoolLinksCell a:visited,
#bedework #logoTable #schoolLinksCell a:active {
  background-color: transparent;
  color: #999;
  text-decoration: none;
}
#bedework #logoTable #schoolLinksCell a:hover {
  background-color: #eee;
  color: #333;
  text-decoration: none;
}
#bedework #curDateRangeTable {
  width: 100%;
  height: 26px;
  background: #233979 url("../images/glassFill-02.gif") repeat-x bottom;
  color : #eee;
  margin: 0em;
  font-weight : bold;
  text-align : center;
  white-space: nowrap;
}
#bedework #curDateRangeTable td {
  padding-top: 5px;
  padding-bottom: 1px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  vertical-align: middle;
}
#bedework #curDateRangeTable td.sideBarOpenCloseIcon {
  background: url("../images/glassFill-02-leftBorder.gif") no-repeat top left;
  color: inherit;
  width: 200px;
}
#bedework #curDateRangeTable td.date {
  font-weight : bold;
  text-align : center;
  white-space: nowrap;
}
#bedework #curDateRangeTable td.rssPrint {
  background: url("../images/glassFill-02-rightBorder.gif") no-repeat top right;
  color: inherit;
  width: 200px;
  font-weight : bold;
  text-align : right;
  white-space: nowrap;
  vertical-align: middle;
}
#bedework #curDateRangeTable td.rssPrint img {
  position: relative;
  top: 3px;
}
#bedework #curDateRangeTable td.rssPrint a:link,
#bedework #curDateRangeTable td.rssPrint a:active,
#bedework #curDateRangeTable td.rssPrint a:visited {
  font-size: 10px;
  color: #eee;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  text-decoration: none;
  margin-right: 0.5em;
  position: relative;
  top: -3px;
}
#bedework #curDateRangeTable td.rssPrint a:hover {
  color: #663;
  background-color: #fff;
}
#bedework #curDateRangeTable td.rssPrint a.rss:link,
#bedework #curDateRangeTable td.rssPrint a.rss:active,
#bedework #curDateRangeTable td.rssPrint a.rss:visited {
  font-size: 10px;
  font-weight: bold;
  color: #444;
  background-color: #ddd;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding: 0px 1px 0px 1px;
  text-decoration: none;
  margin-right: 0.5em;
  margin-left: 2px;
  position: relative;
  top: -3px;
  border: solid 1px #666;
}
#bedework #curDateRangeTable td.rssPrint a.rss:hover {
  color: #900;
  background-color: #fff;
}
#bedework #bodyBlock {
  width: 100%;
  margin: 0;
  padding: 0;
}
#bedework #bodyBlock td#sideBar {
  width: 200px;
  font-size: 0.8em;
  color: black;
  background-color: white;
  /*background: white url("../images/sideBarGrayGrad.gif") repeat-y right;*/
  border-left: 2px solid #333;
  border-right: 1px solid #666;
  border-bottom: 2px solid #aaa;
  /*border-top: 24px solid #333;*/
  vertical-align: top;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
#bedework #bodyBlock td#msgTaskBar {
	width: 220px;
  min-width: 150px;
  font-size: 0.7em;
  color: black;
  background: white url("../images/sideBarGrayGradRight.gif") repeat-y left;
  border-right: 2px solid #333;
  border-bottom: 2px solid #aaa;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
#bedework #bodyBlock td#msgTaskBar ul {
  margin-left: 2.25em;
  padding-left: 0;
}
#bedework #bodyBlock td#msgTaskBar li {
  list-style-image: url("../images/calIconSchedule-sm.gif");
  margin: 0 4px 8px 4px;
}
#bedework #bodyBlock td#msgTaskBarPlaceholder {
  border-right: 2px solid #333;
  border-bottom: 2px solid #aaa;
  margin: 0;
  padding: 0;
}
#bedework #bodyBlock td#sideBar h3 {
  color: #eee;
  background-color: #4164AE;
  /*background: #4164AE url("../images/sideBarBlueGrad.gif") repeat-y right;*/
  font-weight: normal;
  margin: 0;
  padding: 2px 4px;
}
#bedework #bodyBlock td#msgTaskBar h3 {
  color: #eee;
  background-color: #4164AE;
  /*background: #4164AE url("../images/sideBarBlueGradRight.gif") repeat-y left;*/
  font-weight: normal;
  margin: 0;
  padding: 2px 4px 2px 8px;
}
#bedework #bodyBlock td#msgTaskBar li.shareNotification {
	cursor: pointer;
}
#bedework .accepted strong {
	color: #0a0;
}
#bedework .declined strong {
  color: #b00;
}
#bedework #bodyBlock td.sideMenus h3 a:link,
#bedework #bodyBlock td.sideMenush3 a:active,
#bedework #bodyBlock td.sideMenus h3 a:visited {
  float: right;
  font-size: 0.8em;
  color: #eee;
  background: transparent;
  text-decoration: none;
}
#bedework #bodyBlock td.sideMenus h3 a:hover {
  color: #ff3;
  background: transparent;
  text-decoration: none;
}
#bedework #bodyBlock td.sideMenus h3 a.calManageLink {
  padding-right: 4px;
  margin-right: 4px;
  /*border-right: 1px solid #aaa;*/
}
#bedework #bodyBlock td#sideBarClosed {
  width: 1px;
  border-left: 1px solid #333;
  border-bottom: 2px solid #aaa;
  padding: 0;
  color: black;
  background-color: #333;
}
#bedework #bodyBlock td.sideMenus a:link,
#bedework #bodyBlock td.sideMenus a:active,
#bedework #bodyBlock td.sideMenus a:visited {
  text-decoration: none;
}
#bedework #bodyBlock td.sideMenus a:hover {
  color: black;
  background-color: #ff3;
}
#bedework #sideBarOpenCloseIcon {
  float: left;
  margin: 3px 0;
  vertical-align: middle;
}
#bedework #bodyBlock td#sideBar #sideBarMenu {
  margin: 1em;
  padding: 0;
}
#bedework #bodyBlock td#sideBar #sideBarMenu li {
  list-style: none;
  padding: 0 0 0.5em 0;
  margin: 0;
}
#bedework #myViews li {
  list-style: none;
}
#bedework #myViews li.selected {
  list-style-image: url("../images/glassFill-icon-view.gif");
  font-weight: bold;
}
#bedework #bodyBlock td#bodyContent {
  position: relative;
  border-bottom: 2px solid #aaa;
  vertical-align: top;
  padding: 0;
  margin: 0;
}
#bedework #utilBarTable {
  margin: 0;
  padding: 0;
  background-color : #eee;
  color: black;
  font-size: 0.9em;
  border-bottom: 1px solid #999;
}
#bedework #utilBarTable .leftCell {
  margin: 0;
  padding: 0;
  padding: 0.2em 0 0.2em 0.2em;
  white-space: nowrap;
}
#bedework #utilBarTable .leftCell img {
  display: inline;
  margin-right: 2px;
  vertical-align: middle;
}
#bedework #utilBarTable .rightCell {
  margin: 0;
  padding: 0.1em 0.2em 0 0;
  text-align: right;
  white-space: nowrap;
}
#bedework #utilBarTable form,
#bedework #searchPageForm {
  display: inline;
  margin: 0px 0px 1px 0px;
  padding: 0em;
  white-space: nowrap;
}
#bedework #searchPageForm {
  float: right;
}
#bedework #utilBarTable input {
  font-size: 0.7em;
}
#bedework #utilBarTable img {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
#bedework #utilBarTable a.utilButton,
#bedework #utilBarTable .utilButtonOff {
  vertical-align: middle;
  margin: 0 0 0 4px;
  padding: 2px 4px;
  font-size: 0.7em;
  border: 1px solid #bbb;
  background-color: #ccc;
  color: black;
  text-decoration: none;
}
#bedework #utilBarTable .utilButtonOff {
  background-color: #ddd;
  color: #888;
}
#bedework #utilBarTable a.utilButton:hover {
  background-color: #ddd;
  color: black;
}
#bedework .bwActionIcons {
  position: fixed;
  display: none;
  white-space: nowrap;
  border: 1px solid #333;
  background-color: #eee;
  color: black;
  padding: 0.5em;
  margin: 0;
}
#bedework .listAdd .bwActionIcons {
  margin-left: -80px;
}
#bedework .bwActionIcons a:link,
#bedework .bwActionIcons a:active,
#bedework .bwActionIcons a:visited {
  display: block;
  margin: 0 0 2px 0;
  color: #666 !important; /* set important to override other more specific selectors */
  background-color: transparent;
  font-size: 0.75em;
  text-decoration: none;
}
#bedework .bwActionIcons a:hover {
  color: black !important; /* set important to override other more specific selectors */
  background-color: transparent;
}
#bedework #searchTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
}
#bedework #searchTable th {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  background: #e5e5e5;
  color: #000;
  font-weight: normal;
}
#bedework #searchTable td {
  vertical-align: top;
  padding: 4px;
}
#bedework #searchTable tr.fieldNames td {
  background: #eee;
  border-bottom: 1px solid #ccc;
}
#bedework #searchTable td.relevance {
  white-space: nowrap;
}
#bedework #searchTable .searchRelevance {
  background-color: #2c5f89;
  color: black;
}
#bedework #searchFilter {
  float: right;
  font-size: 10pt;
  font-weight: normal;
  margin-top: 5px;
}
#bedework #bwTabs {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #eee;
}
#bedework #bwTabs ul {
  height: 20px;
  margin: 0 0 0 203px;
  padding: 4px 0 0 0;
}
#bedework #bwTabs li {
  float: left;
  width: 80px;
  height: 20px;
  text-align: center;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  color: black;
  background: #eee url("../images/std-tab-off-80x20.gif") no-repeat bottom;
}
#bedework #bwTabs li.selected {
  color: black;
  background: #eee url("../images/std-tab-on-80x20.gif") no-repeat top;
}
#bedework #bwTabs a {
  text-decoration: none;
  color: black;
  background-color: transparent;
}
#bedework #bwTabs a:hover {
  color: #c00;
  background-color: transparent;
}
#bedework #bwUserInfo {
  float: right;
  padding-right: 0.5em;
  margin: 4px 0 0 0;
  font-size: 0.8em;
  vertical-align: bottom;
}
#bedework #bwUserInfo a {
  background-color: inherit;
  color: #ccc;
}
#bedework #bwUserInfo .logout {
  padding-left: 0.5em;
  font-size: 0.8em;
}
#bedework #navigationBarTable {
  font-size: 0.8em;
  margin: 0em;
  padding: 0em;
  vertical-align: top;
  border-bottom: 1px solid Gray;
}
#bedework #navigationBarTable a {
  text-decoration: none;
  white-space: nowrap;
}
#bedework #navigationBarTable td {
  vertical-align: middle;
}
#bedework #navigationBarTable form {
  display: inline;
  margin-bottom: 0em;
}
#bedework #navigationBarTable table {
  display: inline;
  margin-bottom: 0em;
}
#bedework #navigationBarTable td.todayButton {
  padding: 0 1em;
}
#bedework #navigationBarTable td.gotoForm {
  padding: 0 0.5em 0 0;
}
#bedework #navigationBarTable button {
  padding: 0 4px 2px 4px;
}
#bedework #navigationBarTable td.leftCell {
  text-align: left;
  white-space: nowrap;
  padding-left: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.75em 0em 0.75em 1em;
  width: 100%;
  vertical-align: middle;
}
#bedework #navigationBarTable td.leftCell .prevImg {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
#bedework #navigationBarTable td.leftCell .nextImg {
  margin: 0 0.5em 0 0.2em;
  padding: 0;
  vertical-align: middle;
}
#bedework #navigationBarTable td.rightCell {
  text-align: right;
  padding: 1em 0.5em 0em 0em;
}
#bedework #navigationBarTable td.rightCell select {
  padding-right: 0em;
  margin: 0em;
  width: 10em;
}
#bedework #navigationBarTable .calLinks {
  white-space: nowrap;
}
#bedework #messages,
#bedework #errors {
  font-size: 0.8em;
  margin: 0em;
  padding: 0.3em 0 0.3em 1em;
  border-left : 2px solid #333;
  border-right : 2px solid #333;
  border-bottom: 1px solid Gray;
  color: black;
  background: #ff0 url("../images/glassFill-message.gif") repeat-x top;
}
#bedework #errors {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
#bedework #errors li,
#bedework #messages li {
  list-style: none;
}
#bedework #messages p,
#bedework #errors p {
  margin: 0;
  padding: 2px 0;
}
#bedework ul.submenu {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 0.8em;
  color: black;
  background-color: #eee;
  border-bottom: 1px solid #666;
  border-top: 1px solid #999;
}
#bedework ul.submenu li {
  display: inline;
  margin: 0;
  padding: 0 1em 0 1em;
  border-right: 1px solid #999;
  color: black;
  background-color: #ddd;
}
#bedework ul.submenu li.selected {
  color: black;
  background-color: white;
  border-bottom: 1px solid white;
}
#bedework ul.submenu li a:link,
#bedework ul.submenu li a:active,
#bedework ul.submenu li a:visited {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#bedework ul.submenu li a:hover,
#bedework ul.submenu li:hover {
  color: black;
  background-color: #ffe;
  text-decoration: none;
}
#bedework ul.submenu li.selected:hover {
  color: black;
  background-color: white;
}
#bedework #standardForm {
  margin: 0;
  padding: 0;
}
#bedework form {
  margin: 0;
}
#bedework #eventAccessLink {
  float: right;
  font-size: 0.8em;
  margin: 0 1em;
}
#bedework #calSelectWidget {
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 0 2em 1em 0;
  border: 1px solid #666;
  background-color: white;
  color: black;
}
#bedework #calSelectWidget h2 {
  font-size: 1em;
  font-weight: normal;
  margin: 0 -2em 0 0;
  padding: 4px 0 4px 12px;
  background: #233979 url("../images/glassFill-02.gif") repeat-x bottom;
  color : #eee;
}
#bedework #calSelectWidget #calSelectWidgetCloser {
  position: absolute;
  right: 2px;
  top:  2px;
  display: block;
  font-weight: bold;
  background-color: #ddd;
  color: #333;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  margin: 0;
  padding: 0 2px;
  text-decoration: none;
}
/* table below is used for almost all forms  */
#bedework table.common {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
}
#bedework table.dottedBorder {
  border: 1px dotted #ccc;
}
#bedework table.common th {
  text-align: left;
  vertical-align: top;
  padding: 0.5em;
  background-color: #ddd;
  color: black;
  white-space: nowrap;
}
#bedework table.common th.thin {
  width: 80px;
}
#bedework table.common th.icon {
  margin: 0em;
  vertical-align: middle;
  padding: 0.5em 1em 0.2em 0;
  font-size: 0.7em;
  background-color: #fff;
  color: black;
}
#bedework table.common th.commonHeader {
  vertical-align: middle;
  background-color: #666;
  color: #eee;
  padding: 0.2em 0.5em;
  text-align: left;
  font-weight: normal;
}
#bedework table.common th.commonHeader a:link,
#bedework table.common th.commonHeader a:active,
#bedework table.common th.commonHeader a:visited {
  background-color: inherit;
  color: #eee;
  padding: 0.2em;
  text-align: left;
}
#bedework table.common th.commonHeader a:hover {
  background-color: inherit;
  color: #ff9;
  padding: 0.2em;
  text-align: left;
}
#bedework table.common td {
  padding: 0;
}
#bedework table.common td.highlight {
  padding: 0.5em;
  color: black;
  background-color: #ee0;
}
#bedework table.common td.filler {
  height: 250px;
}
#bedework table.common td.fill {
  background-color: #ddd;
  color: black;
  font-weight: bold;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
#bedework table.common th.leftBorder,
#bedework table.common td.leftBorder {
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  padding-left: 1em;
}
#bedework table.common td.fieldval {
  margin: 0em;
  vertical-align: top;
  padding: 0.5em 0.5em 0.2em 1em;
}
#bedework table.common td.fieldname {
  width: 100px;
  margin: 0em;
  vertical-align: top;
  padding: 0.5em 0.5em 0.2em 0.5em;
  color: black;
  background-color: #eee;
  white-space: nowrap;
}
#bedework table.dottedBorder td.fieldname {
  text-align: right;
}
#bedework table.common tr.subField {
  font-size: 0.8em;
}
#bedework table.common tr.subField td.fieldname {
  padding-left: 2em;
  color: black;
  background-color: #fff;
}
#bedework table.common td.comments p {
  margin: 0;
  padding: 0.5em 0 1em 0;
  border-top: 1px dashed #ddd;
}
#bedework table.common td.submit {
  padding: 0.5em 0.5em 0.2em 0.5em;
  color: black;
  background: white;
  text-align: right;
  border-top: 1px solid #ccc;
}
#bedework table.common td.eventLinks {
  background-color: #ddd;
  color: #eee;
  padding: 6px 0;
  text-align: center;
}
#bedework table.common tr.httpStatusMsg td,
#bedework table.common tr.httpStatusMsg th  {
  padding: 0.5em;
  background-color: #ffa;
  color: black;
}
#bedework table.common #eventActions {
  float: right;
  clear: none;
  font-size: 0.8em;
}
#bedework table.common #eventActions img,
#bedework #refreshEventAction img {
display: inline;
  margin-right: 2px;
  vertical-align: middle;
}
#bedework #eventActions .bwMenuButton {
  position: relative;
  float: right;
  margin: 0 0.5em 0 0;
}
#bedework #eventActions .bwMenuWidget {
  position: absolute;
  background-color: #444;
  color: #eee;
  display: none;  /* hide until shown */
}
#bedework #eventActions .bwMenuWidget ul {
  margin: 6px 6px 6px 14px;
  padding: 0;
}
#bedework #eventActions .bwMenuWidget li {
  margin: 0.25em 0 0 0;
  padding: 0;
  list-style: none;
}
#bedework .eventActionsInGrid {
  margin: 1em !important;
}
#bedework .eventActionsInGrid li {
  display: block !important;
}
#bedework #refreshEventAction {
  padding-left: 1em;
}
#bedework table.common td.allField {
  white-space: nowrap;
  text-align: right;
  font-style: italic;
  background-color : white;
  color: black;
  padding: 0.2em;
}
#bedework table.common .borderRight {
  border-right: 1px solid #999;
}
#bedework table.common tr#exportDateRange td.dates {
  border-bottom: 1px solid #999;
  padding: 0.5em;
}
#bedework table.common .padMeTop {
  padding-top: 1em !important;
}
#bedework table.common .padMeTopMore {
  padding-top: 2em !important;
}
#bedework table.common .padMe {
  padding: 1em !important;
}
#bedework .dateFields {
  display: inline;
}
#bedework .timeFields {
  display: inline;
  margin-left: 1em;
}
#bedework .dateStartEndBox {
  border: 1px solid #ccb;
  margin: 4px;
  padding: 4px;
  white-space: nowrap;
}
#bedework .dateStartEndBox strong {
  display: block;
}
#bedework .startDateLabel {
  margin-left: 26px;
}
#bedework select.timezones {
  margin-left: 1em;
  width: 160px;
}
#bedework div.durationBox {
  border: 1px solid #ccb;
  display: inline;
  margin: 4px;
  padding: 4px;
}
#bedework .durationSpacerText {
  font-weight: bold;
  margin: 0 1em;
}
#bedework table#manage td {
  padding: 0.2em 0 0 0.5em;
}
#bedework #bwEventTab-Recurrence {
  margin: 0 1em;
  font-size: 0.9em;
}
#bedework #bwEventCalDisplay {
  margin-right: 1em;
}
#bedework #clock {
  position: absolute;
  top: 160px;
  margin: auto;
}
#bedework #startTimeFields img,
#bedework #endTimeFields img,
#bedework #rdateTimeFields img,
#bedework #schedTime img {
  vertical-align: middle;
}
#bedework #calWidgetStartTimeHider,
#bedework #calWidgetEndTimeHider,
#bedework #rdateTimeFields,
#bedework #schedTime {
	width: 350px;
}
#bedework #tztable {
  margin-top: 1em;
}
#bedework #tztable td {
  padding: 2px 4px;
}
#bedework #scheduling {
  margin: 1em;
  font-size: 0.9em;
}
#bedework #scheduling .editAttendees {
  padding-top: 1em;
  clear: both;
}
#bedework #recurringSwitch {
  margin: 0 0 1em 0;
}
#bedework #recurrenceInfo {
  margin: 0;
  padding: 1em;
  border: 1px solid #ddd;
  font-size: 0.9em;
}
#bedework #rrulesSwitch,
#bedework #rrulesUiSwitch {
  font-size: 0.8em;
}
#bedework #rrulesFields {
  margin: 0;
  padding: 0;
}
#bedework #rrulesTable {
  border: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
#bedework #rrulesTable strong {
  display: inline;
}
#bedework #rrulesTable td#recurrenceFrequency {
  padding: 0.5em 1em;
  border-right: 1px solid #ddd;
  white-space: nowrap;
}
#bedework #rrulesTable td#advancedRrules {
  padding: 0.5em 1em 0.5em 1em;
  border-top: 1px solid #ddd;
}
#bedework #rrulesTable td#recurrenceUntil {
  width: 100%;
  padding: 0.5em 0 0 1em;
}
#bedework .chkBoxListItem {
  display: block;
  float: left;
  width: 3em;
}
#bedework #rrulesTable br {
  clear: both;
}
#bedework #rrulesTable p {
  margin: 0 0 0.5em 0;
}
#bedework #rrulesTable p.weekRecurLinks {
  margin: 1em 0 1em 0;
}
#bedework #rrulesTable .extraByMonthPosFields {
  margin: 0 0 1em 2em;
  padding: 0;
}
#bedework #rrulesTable #monthRecurFields div,
#bedework #rrulesTable #yearRecurFields div {
  display: block;
  margin: 0 0 0.5em 0;
}
#bedework #rrulesTable #dayMonthCheckBoxList,
#bedework #rrulesTable #monthDaysCheckBoxList,
#bedework #rrulesTable #yearWeeksCheckBoxList,
#bedework #rrulesTable #yearMonthCheckBoxList,
#bedework #rrulesTable #yearMonthDaysCheckBoxList,
#bedework #rrulesTable #yearDaysCheckBoxList {
  margin: 0.5em 0 0.5em 2em;
  display: block;
  clear: both;
  white-space: nowrap !important;
}
#bedework #recurrenceDatesButton input {
  margin: 2em 0 0 0;
  font-size: 0.8em;
}
#bedework #rdatesFormFields {
  font-size: 0.9em;
  padding: 0.5em;
}
#bedework #rdatesFormFields p {
  clear: both;
  margin-top: 1em;
}
#bedework .rdatesTable {
  font-size: 0.9em;
  border: 1px solid #ddd;
}
#bedework .rdatesTable td {
  padding: 0.5em 1em;
}
#bedework .rdatesTable td.trash {
  text-align: right;
}
#bedework .rdatesTable td.note {
  text-align: center;
  font-size: 0.9em;
}
#bedework #bwCurrentRdates,
#bedework #bwCurrentExdates,
#bedework #bwCurrentRdatesNone,
#bedework #bwCurrentExdatesNone {
  float: left;
  margin: 1em 2em 1em 0;
}
#bedework #bwCurrentRdates th,
#bedework #bwCurrentRdates td,
#bedework #bwCurrentExdates th,
#bedework #bwCurrentExdates td {
  text-align: left;
  padding: 0 0.5em 0 0;
}
#bedework .shown {
  display: inline;
}
#bedework .visible {
  /* like shown, but apply no styles to this class */
}
#bedework .invisible {
  display: none !important;
}
#bedework .hidden {
  visibility: hidden;
}
#bedework .clear  {
  clear: both;
}
#bedework .bwEventImage {
  float: right;
  margin: 0 0.5em 1em 1em;
}
#bedework .padMe {
  padding: 1em 0 !important;
}
#bedework .strong {
  font-weight: bold;
}
#bedework .posrelative {
  /* this class is used primarily to lock absolutely positioned elements to
     their parent.  Be careful removing this class from elements that
     contain an absolutely positioned div. */
  position: relative;
}
#bedework table#inoutbox td {
  padding: 0.2em 0.5em;
  border-bottom: 1px solid #ccc;
  font-size: 0.75em;
}
#bedework table.common td.scheduleActions {
  color: black;
  background: #ddc;
}
#bedework table.common td.scheduleActions ul {
  margin: 0;
  padding: 0 0 0 20px;
}
#bedework #comments p {
  margin: 0 0 1em 2em;
}
#bedework table#inoutbox tr.unprocessed {
  background: #fcc;
  color: black;
}
#bedework table#inoutbox tr.publish {
  background: #ddf;
  color: black;
}
#bedework table#inoutbox tr.request {
  background: #ffd;
  color: black;
}
#bedework table#inoutbox tr.cancel {
  background: #ddd;
  color: black;
}
#bedework table#inoutbox tr.counter {
  background: #fcc;
  color: black;
}
#bedework a.emailIcon {
  margin: 0 0.5em;
}
#bedework form#subscriptions {
  margin: 0;
  padding: 0;
}
#bwColorPickerButton {
  width: 28px;
}
#bwColorPicker {
  white-space: nowrap;
}
#bedework table.widget {
  margin: 1em 1em 0 0;
  float: left;
  clear: none;
}
#bedework table.widget th {
  padding: 2px 0 2px 4px;
  background-color: #ddd;
  color: black;
  border-bottom: 1px solid #ccc;
  font-size: 0.9em;
}
#bedework table.widget tr.subHead td {
  background-color: #eee;
  color: black;
}
#bedework table.widget td {
  padding: 0.1em 1em;
  font-size: 0.8em;
}
#bedework table.widget td.role,
#bedework table.widget td.status {
  text-transform: lowercase;
}
#bedework table.widget {
  border: 1px solid #999;
}
#bedework table.widget td,
#bedework table.widget th {
  text-align: left;
}
#bedework table.widget td.trash {
  width: 15px;
  padding: 4px 6px 4px 4px;
}
#bedework table.common table#attendees {
}
#bedework table.common #attendees th {
  padding: 2px 20px 2px 6px;
  font-size: 0.9em;
}
#bedework table.common #attendees td {
  padding: 2px 20px 2px 6px;
}
#bedework table.common #attendees td.status {
  font-weight: bold;
}
#bedework #recipientsAndAttendees {
  margin: 0;
  padding:  0 1em;
}
/* dialog box - popup, most likely deprectaed */
#bedework #bwDialogBox {
  margin: 0;
  background: white;
  color: black;
}
#bedework #bwDialogBox h4 {
  padding: 4px;
  margin: 0;
  text-align: center;
  color: #eee;
  background: #233979 url("../images/glassFill-02.gif") repeat-x bottom;
  border: 2px solid #233979;
}
#bedework #bwDialogBox #errors,
#bedework #bwDialogBox #messages {
  margin: 0;
}
#bedework #bwDialogBox table {
  width: 100%;
  margin: 1em 0;
}
#bedework #bwDialogBox table th {
  padding: 2px;
  text-align: center;
  color: black;
  background: #eee;
}
#bedework #weekCalendarTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #666;
}
#bedework #weekCalendarTable td {
  padding: 0.4em;
  margin: 0em;
}
#bedework #weekCalendarTable .dateRange {
  text-align: left;
  background-color: #e2decc;
  color: black;
  white-space: nowrap;
}
#bedework #weekCalendarTable .description {
  text-align: left;
  background-color: #fff;
  color: black;
  width: 100%;
}
#bedework #weekCalendarTable .more {
  text-align: center;
  background-color: #eee;
  color: black;
  font-size: 0.8em;
}
#bedework #monthCalendarTable {
  width: 100%;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #666;
}
#bedework #monthCalendarTable th.dayHeading {
  width: 14%;
  text-align: center;
  vertical-align: middle;
  background-color: #2B4795;
  color: #eee;
  border: 1px solid #333;
}
#bedework #monthCalendarTable td {
  width: 14%;
  height: 60px;
  vertical-align: top;
  text-align: left;
  padding: 0em;
  border: 1px solid #aaa;
  background-color: white;
  color: black;
}
#bedework #monthCalendarTable td.filler {
  border: none;
  background-color: #eee;
  color: black;
}
#bedework #monthCalendarTable ul {
  font-size: 0.8em;
  list-style : none;
  margin: 0em;
  padding: 0.3em 0em 0em 0em;
}
#bedework #monthCalendarTable ul li {
  margin: 0em;
  padding: 0em;
  display: inline;
}
#bedework #monthCalendarTable a.event {
  display: block;
  padding: 0.1em 0.2em 0.1em 0.2em;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
}
#bedework #monthCalendarTable a.firstEvent {
  border-top: 1px solid #bbb; /* first item in the grid needs a top border */
}
#bedework #monthCalendarTable a.eventLinkA:link,
#bedework #monthCalendarTable a.eventLinkA:visited,
#bedework #monthCalendarTable a.eventLinkA:active  {
  background-color: #CCD7F5;
  color: black;
}
#bedework #monthCalendarTable a.eventLinkB:link,
#bedework #monthCalendarTable a.eventLinkB:visited,
#bedework #monthCalendarTable a.eventLinkB:active  {
  background-color: #EBF0FF;
  color: black;
}
#bedework #monthCalendarTable a.eventCancelled:link,
#bedework #monthCalendarTable a.eventCancelled:visited,
#bedework #monthCalendarTable a.eventCancelled:active  {
  background-color: #ccc;
  color: black;
}
#bedework #monthCalendarTable a.eventTentative:link,
#bedework #monthCalendarTable a.eventTentative:visited,
#bedework #monthCalendarTable a.eventTentative:active  {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #eee url("../images/tentativeLines.gif") top;
  color: black;
}
#bedework #monthCalendarTable a:hover {
  color: black;
  background-color: #ffa !important; /* must be important to override subscription colors */
  /* required for eventTip to hover correctly;
     apply only to the hover pseudo class, or
     the other anchors nearby will cover the eventTip in IE */
  position: relative;
}
#bedework #monthCalendarTable a.dayLink {
  text-decoration: none;
  color: black;
  background-color: transparent;
  padding-left: 2px;
}
#bedework #monthCalendarTable a:hover.dayLink {
  text-decoration: none;
  color: #eee !important; /* must be important to override a:hover selector above */
  background-color: black !important; /* must be important to override a:hover selector above */
}
#bedework #monthCalendarTable .eventTip {
  display: none;
}
#bedework #monthCalendarTable .eventTip {
  position: absolute;
  width: 20em;
  background-color: #ffa;
  color: black;
  margin: -0.5em 0 0 4em;
  padding: 1em;
  border: 1px solid #333;
}
#bedework #monthCalendarTable .eventTipReverse {
  margin: -0.5em 0 0 -4em;
}
#bedework #monthCalendarTable .eventTipDetails {
  padding: 1em;
  margin: 0;
  background-color: #ffd;
  color: black;
  font-size: 125%;
}
#bedework #monthCalendarTable .eventTip strong {
  font-weight: bold;
  font-size: 110%;
}
#bedework #monthCalendarTable .eventTip ul {
  margin-top: 1em;
  font-size: 110%;
}
#bedework #monthCalendarTable .eventTipStatusCancelled {
  display: block;
  color: white;
  background-color: #333;
  padding: 2px;
  margin-bottom: 6px;
  text-align: center;
}
#bedework #monthCalendarTable .eventTipStatusTentative {
  display: block;
  color: black;
  background: #eee url("../images/tentativeLines.gif") top;
  padding: 2px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  text-align: center;
}
#bedework div.gridAdd {
  position: absolute;
  margin: -1em 0 0 1em;
  padding: 0;
}
#bedework a.calendarAdd img {
  margin: 0 0 0 0.5em;
  padding: 0;
}
#bedework #monthCalendarTable td.today,
#bedework #yearCalendarTable td.today {
  background-color: #ffb;
  color: black;
}
#bedework #yearCalendarTable td.today {
  border: 1px solid #666;
}
#bedework #yearCalendarTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0em;
  border-top: 1px solid #666;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
}
#bedework #yearCalendarTable td {
  padding: 1em 0em 0em 0em;
  margin: 0em;
  vertical-align: top;
  text-align: center;
  width: 33%;
}
#bedework #yearCalendarTable table.yearViewMonthTable {
  margin: 0em  1em 0.5em 1em;
  border: 1px solid #ddd;
}
#bedework #yearCalendarTable table.yearViewMonthTable td {
  text-align: center;
  padding: 0.2em;
  width: 12.5%;
}
#bedework #yearCalendarTable table.yearViewMonthTable th {
  font-weight: bold;
  background-color: #eee;
  color: black;
  padding: 0.2em;
}
#bedework #yearCalendarTable table.yearViewMonthTable td.monthName {
  font-weight: bold;
  text-align: center;
  background-color: #2B4795;
  color: #eee;
  white-space: nowrap;
  border-bottom: 1px solid #999;
}
#bedework #yearCalendarTable table.yearViewMonthTable td.weekCell {
  font-weight: bold;
  font-size: 0.8em;
  background-color: #eee;
  color: black;
}
#bedework #yearCalendarTable  table.yearViewMonthTable td  a  {
  text-decoration: none;
  background-color: inherit;
  padding: 1px;
  color: black;
}
#bedework #yearCalendarTable  table.yearViewMonthTable td.weekCell a  {
  text-decoration: none;
  background-color: inherit;
  padding: 1px;
  color: black;
}
#bedework #yearCalendarTable  table.yearViewMonthTable td.monthName a  {
  text-decoration: none;
  background-color: inherit;
  color: #eee;
  padding: 1px;
}
#bedework #yearCalendarTable  table.yearViewMonthTable td a:hover  {
  text-decoration: none;
  background-color: #FFC;
  color: black;
  border: 1px solid black;
  padding: 0;
}
#bedework #listTable {
  width: 100%;
  font-size: 0.9em;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #666;
}
#bedework #listTable td {
  padding: 0.5em;
  margin: 0em;
  border-bottom: 1px solid #bbb;
}
#bedework #listTable td a {
  background-color: transparent;
  color: black;
  text-decoration: none;
}
#bedework #listTable td.dateRangeCrossDay {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #eee;
  color: black;
  white-space: nowrap;
}
#bedework #listTable td.dateRangeEarlyMorning {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #D0D5E1;
  color: black;
  white-space: nowrap;
}
#bedework #listTable td.dateRangeMorning {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #DFE7FB;
  color: black;
  white-space: nowrap;
}
#bedework #listTable td.dateRangeAfternoon {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #CCD7F5;
  color: black;
  white-space: nowrap;
}
#bedework #listTable td.dateRangeEvening {
  font-size: 0.9em;
  text-transform: lowercase;
  background-color: #B3C0E6;
  color: black;
  white-space: nowrap;
}
#bedework #listTable span.littleArrow {
  font-size: 1.4em;
}
#bedework #listTable td.description {
  text-align: left;
  background-color: #fff;
  color: black;
  width: 100%;
}
#bedework #listTable td.bwStatusCancelled {
  background-color: #ddd;
  color: black;
}
#bedework #listTable td.bwStatusTentative {
  background: white url("../images/tentativeLines.gif") top;
  color: black;
}
#bedework #listTable td.description a {
  display: block;
  background-color: transparent;
  color: black;
  text-decoration: none;
}
#bedework #listTable td.description a.moreLink {
  display: inline;
  background-color: transparent;
  color: #663;
  text-decoration: underline;
}
#bedework #listTable td.description:hover {
  background-color: #eee !important;
  color: black;
  text-decoration: none;
}
#bedework #listTable td.dateRow {
  text-align: left;
  background-color: #444;
  /*background-color: #2B4795;*/
  color: #eee;
  font-size: 0.8em;
  margin: 0;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
#bedework #listTable td.dateRow a {
  color: #fff;
  background-color: transparent;
  font-weight: bold;
  text-decoration : none;
}
#bedework #listTable td.dateRow .listAdd {
  float:right;
  text-decoration : none;
  font-weight: normal;
  padding-left: 1em;
}
#bedework #listTable td.dateRow .listAdd a:link,
#bedework #listTable td.dateRow .listAdd a:active,
#bedework #listTable td.dateRow .listAdd a:visited {
  color: #eee;
  background-color: transparent;
}
#bedework #listTable td.dateRow .listAdd a:hover {
  color: #ffa;
  background-color: transparent;
}
#bedework #listTable td.eventLinks {
  color: black;
  background-color: #ddd;
  white-space : nowrap;
  font-size : 0.7em;
}
#bedework #listTable td.eventLinks a {
  text-decoration: underline;
  padding-left: 0.5em;
}
#bedework #listTable td.eventLinks a:hover {
  color: #eee;
  background-color: #333;
  text-decoration: none;
}
#bedework #listTable td.smallIcon {
  color: black;
  background-color: #ccc;
}
#bedework .noEventsCell {
  padding: 1em;
}
#bedework #listEvents ul {
  font-size: 0.9em; 
  margin: 0;
  padding: 0;
}
#bedework #listEvents li {
  padding: 1em;
  list-style: none;
}
#bedework #listEvents li.even {
  background-color: #f2f2f2;
  color: black;
}
#bedework #listEvents .cost,
#bedework #listEvents .contact {
  font-style: italic;
}
#bedework #listEvents .title {
  font-weight: bold;
}
#bedework #tasks {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
#bedework #tasks h3 {
  margin: 0;
  padding: 2px 4px;
  font-size: 1em;
  /*background-color: #5A6B93;*/
  background-color: #747A8F;
  color: #eee;
  font-weight: normal;
}
#bedework #tasks .taskDate {
  font-size: 0.8em;
  font-style: italic;
}
/* Calendars and Subscriptions */
#calendarTable td,
#bedework #subsTable td {
  padding: 0 0.5em;
  vertical-align: top;
}
#bedework #calendarTable td.cals,
#bedework #subsTable td.cals {
  border-right: 1px solid #aaa;
  font-size: 0.9em;
}
#bedework #calendarTable td.cals {
  width: 300px;
}
#bedework #subsTable td.cals {
  white-space: nowrap;
}
#addCalSubButtons {
	padding-left: 10px;
	margin: 2em 0;
}
#addCalSubButtons button {
  font-size: 0.8em;
  text-transform: lowercase;
  padding-bottom: 2px;
}

#bedework #addSubText li {
	list-style: none;
	margin-top: 2em;
}
#bedework .calendarTree ul {
  padding-left: 10px;
  margin-left: 10px;
}
#bedework .calendarTree li {
  padding: 0.25em 0 0 0;
  margin: 0;
}
#bedework li.folder {
  list-style-image: url("../images/catIcon.gif");
}
#bedework  li.calendar {
  list-style-image: url("../images/calIcon-sm.gif");
}
#bedework  li.trash {
  list-style-image: url("../images/trashIcon.gif");
}
#bedework  li.inbox {
  list-style-image: url("../images/inboxIcon.gif");
}
#bedework  li.outbox {
  list-style-image: url("../images/outboxIcon.gif");
}
#bedework  li.unknown,
#bedework  li.deleted {
  list-style-image: url("../images/calIconDeleted-sm.gif");
  font-style: italic;
}
#bedework  li.unknown a,
#bedework  li.deleted a {
  color: #900;
  background-color: transparent;
}
#bedework  li.selected {
  list-style-image: url("../images/glassFill-icon-view.gif");
  font-weight: bold;
}
#bedework  li.alias {
  list-style-image: url("../images/calIconAlias-sm.gif");
  font-style: italic;
  margin-left: 0;
  padding-left: 0;
}
#bedework  li.aliasFolder {
  list-style-image: url("../images/catIconAlias.gif");
  font-style: italic;
  margin-left: 0;
  padding-left: 0;
}
#bedework  li.subscription li {
  font-style: normal;
}
#bedework .calendarTree a:link,
#bedework .calendarTree a:active,
#bedework .calendarTree a:visited {
  text-decoration: none;
  border: none;
}
#bedework .calendarTree a:hover {
  color: black;
  background-color: #ff3;
}
#bedework .addCalText {
	font-size: 0.8em;
	font-style: italic;
}
#bedework .inoutboxActive {
  font-weight: bold;
  font-size: 0.9em;
}
#bedework img.bwCalendarColor {
  padding: 0;
  margin: 5px 0 0 5px;
  width: 6px;
  height: 6px;
  border: 1px solid #666 !important;
}
#bedework form.bwHideDisplayCal,
#bedework form.bwHideDisplayCal input {
  display: inline;
  margin: 0;
  padding: 0;
}
#bedework form.bwHideDisplayCal input {
  width: 10px;
  height: 10px;
}
#bedework #submitTable {
  width: 98%; /* less than 100% helps avoid IE weirdness */
  margin: 1em 0;
}
#bedework #submitTable td {
  white-space: nowrap;
}
#bedework #subsMenu li {
  padding-bottom: 0.5em;
}
#bedework #content {
  /* for genric content - no tables */
  margin: 0;
  padding: 1em;
}
#bedework .note {
  margin: 0;
  padding: 0 0 1em 0;
  font-size: 0.8em;
  font-style: italic;
}
#bedework .disabledNote {
  display: block;
  font-style: italic;
}
#bedework #freeBusyShareLink {
  float: right;
  font-size: 0.8em;
  margin: 0.5em 0.5em 0 0;
}
#bedework .contextHelp {
  position: relative;
  margin-left: 0.5em;
}
#bedework .helpBox {
  margin: 1em;
  padding: 0.5em;
  border: 1px solid #333;
  color: black;
  background-color: #fee;
}
#bedework #helpShareFreeBusy {
  position: absolute;
  right: 20px;
  width: 300px;
}
#bedework #recipientsAndAttendeesForm {
  white-space: nowrap;
}
#freeBusy {
  clear: both;
  margin: 1em 0 0 0;
  padding: 1em 1em 1em 0;
  border: 1px solid #ccc;
}
#freeBusyPage #freeBusy {
  border: none;
  margin-top: 0;
  padding-top: 0;
}
#freeBusyPage #viewFreeBusyForm {
  float: right;
  font-size: 0.9em;
  margin: 1em 1em 0 0;
}
#freeBusy td {
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  width: 2em !important;
  height: 10px;
}
#freeBusy th.left,
#freeBusy td.left {
  text-align: left;
}
#freeBusy td.morning {
  color: black;
  background: #ddf;
}
#freeBusy td.evening {
  color: black;
  background: #ccc;
}
#freeBusy td.timeLabels {
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
#freeBusy td.dayDate {
  white-space: nowrap;
  text-align: right;
  padding: 0;
  width: 4em;
}
#freeBusy td.free,
#freeBusyKey td.free {
  /*color: #A3BAEA;
  background-color: #A3BAEA;*/
  color: white;
  background-color: white;
  border: 1px solid #ddd;
}
#freeBusy td.busy,
#freeBusyKey td.busy {
  color: #A3BAEA;
  background-color: #A3BAEA;
  border: 1px solid #ddd;
}
#freeBusy td.tentative,
#freeBusyKey td.tentative {
  color: #DFE7FB;
  background: #DFE7FB url("../images/tentativeLines.gif") top;
  border: 1px solid #ddd;
}
#freeBusyKey {
  float: left;
  margin: 0.5em 1em 0 0;
}
#freeBusyPage #freeBusyKey {
  margin-left: 2em;
}
#freeBusyKey td {
  padding: 2px 4px;
}
#freeBusy a {
  display: block;
  text-decoration: none;
  width: 100%;
}
#freeBusy td.free a {
  color: #A3BAEA;
  background-color: transparent;
}
#freeBusy td.tentative a  {
  color: #333;
  background-color: transparent;
}
#freeBusy td.busy a {
  color: #333;
  background-color: transparent;
}
#freeBusy td.busy a:hover,
#freeBusy td.free a:hover,
#freeBusy td.tentative a:hover  {
  color: black;
  background-color: yellow;
  text-decoration: none;
}
#freeBusy a:hover {
  /* required for eventTip to hover correctly;
     apply only to the hover pseudo class, or
     the other anchors nearby will cover the eventTip in IE */
  position: relative;
}
#freeBusy a span.eventTip {
  display: none;
}
#freeBusy a:hover span.eventTip {
  display: block;
  position: absolute;
  width: 8em;
  top: 3em;
  left: -4em;
  background-color: #ffe;
  color: black;
  padding: 4px;
  border: 1px solid #333;
}
#freeBusy #timezonesDropDown {
  width: 14em;
  font-size: 8pt;
  margin: 0 0 0 2em;
}
#freeBusy #timezonesButton {
  font-size: 8pt;
}
#modCalAdvancedSwitch,
#modCalBasicSwitch {
	display: block;
	float: right;
	font-style: italic;
	margin-top: 1.5em;
	font-size: 0.9em;
}
#bedework .modCalAdvanced {
	display: none;
}
#calAccessBoxToggle {
  cursor: pointer;
  color: #00A;
}
#calAccessBoxHolder {
	margin-top: 1em;
}
#bedework .sharingNote {
	margin-top: 1em;
}
#bedework #calSharingForm {
	margin: 0;
	font-size: 0.9em;
}
#bedework #calSharingBox {
  margin-bottom: 0.5em;
}
#bedework #calSharingBox table {
	width: auto;
	margin-top: 0.5em;
}
#bedework #calSharingBox td {
  padding-left: 0.5em;
}
#bedework #calSharingBox .calShareField {
	font-size: 0.9em;
	color: #666;
}
#bedework #shareesTable {
   margin-bottom: 2em;
}
#bedework #shareesTable tr:nth-child(odd) {
   background-color: #eee;
}
#bedework #shareesTable.common td {
	padding: 0 0.5em;
}
#bedework #shareesTable.common td.access,
#bedework #shareesTable.common td.remove {
   text-align: center;
}
#bedework #accessBox {
	display: none;
  margin: 0;
  padding: 0;
}
#bedework #accessBox.show {
  display: block;
  margin: 0;
  padding: 0;
}
#bedework #bwEventTab-Access #accessBox {
  margin: 0;
  padding: 1em;
}
#bedework #accessBox h3{
  padding: 1em 0 0.5em 0;
  border-top: 1px solid #ccc;
}
#bedework #accessBox h5 {
  padding: 0 0 0.5em 0;
}
#bedework #accessBox ul {
  font-size: 0.8em;
  margin: 0 1em;
}
#bedework #accessBox p {
  font-size: 0.9em;
}
#bedework #shareForm {
  margin: 1em 0;
  padding: 0;
}
/* Footer */
#bedework #footer {
  font-size: 0.7em;
  text-align : center;
  margin-top: 0em;
  padding: 1em;
  color: #333;
  background-color: #eee;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  white-space: nowrap;
}
#bedework #footer a {
  color: #333;
  background-color: transparent;
  text-decoration: underline;
}
#bedework #subfoot {
  width: 100%;
  padding-top: 0.5em;
  font-size: 0.7em;
  color: #333;
  background-color: inherit;
}
#bedework #subfoot  a {
  color: #999;
  background-color: inherit;
}
#bedework #subscriptionTypes {
  font-size: 0.9em;
}
#bedework #subscriptionTypeExternal td,
#bedework #subscriptionTypeExternal th {
	text-align: right;
}
#bedework a:link,
#bedework a:active {
  color: #00a;
  background-color: transparent;
  text-decoration: none;
}
#bedework a:visited {
  color: #008;
  background-color: transparent;
  text-decoration: none;
}
#bedework a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
#bedework span.time {
  text-transform : lowercase;
}
#bedework .padTop {
  padding-top: 1em;
}
#bedework .nowrap {
  white-space: nowrap;
}
#bedework #featureHighlight {
  color: #dd0;
  font-style: italic;
}
#bedework .titleButton {
  display: block;
  margin: 1em;
}
#bedework .innerBlock {
  margin: 0 1em 2em 1em;
}
#bedework .innerBlock a {
  text-decoration: underline;
}

