/*
   Licensed to Jasig under one or more contributor license
   agreements. See the NOTICE file distributed with this work
   for additional information regarding copyright ownership.
   Jasig licenses this file to you under the Apache License,
   Version 2.0 (the "License"); you may not use this file
   except in compliance with the License. You may obtain a
   copy of the License at:
  
   http://www.apache.org/licenses/LICENSE-2.0
  
   Unless required by applicable law or agreed to in writing,
   software distributed under the License is distributed on
   an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   KIND, either express or implied. See the License for the
   specific language governing permissions and limitations
   under the License.  
*/

@import "reset.css";
/* a {
 text-decoration: none;
} */
.clear {
 display: block;
 clear: both;
 height: 0px;
}
em {
 font-style: italic;
}
strong {
  font-weight: bold;
}
div#wrap {
 margin: 0 auto;
 padding: 0;
 width: 960px;
}
div#header {
 position: relative;
 height: 120px;
 padding: 0;
 margin: 0;
}
div#head-top {
 position: relative;
 height: 90px;
 background: #fff;
 color: white;
 margin: 0;
 padding: 0;
}
div#title-text {
 position: absolute;
 bottom: 5px;
 right: 10px;
 margin: 0;
 padding: 0;
 color: #b31818;
 background-color: transparent;
 text-align: right;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
}
div#title-text a {
  color: #444;
  background-color: transparent;
}
div#title-text a:hover {
  text-decoration: underline;
}
div#title-text h2 {
  font-size: 2em;
  margin: 0;
  padding-bottom: .2em;
}
div#title-text ul {
  display: inline;
}
div#title-text li {
  display: inline;
  padding: 0 0.5em;
  border-right: 1px solid #fff;
}

div#title-text li.last {
  padding: 0 0 0 0.5em;
  border-right: none;
}

div#title-text li a,
div#title-text li.last a
 {
  text-decoration: none;
  color: #444;
}

div#title-text li a:hover,
div#title-text li.last a:hover {
  text-decoration: underline;
}

a#currentDate {
 position: absolute;
 bottom: 33px;
 left: 95px;
 font: italic 2em/1.4 Georgia,"Times New Roman",Times,serif;
 color: #444;
 line-height: normal;
 padding: 0;
 margin: 0;
 display: block;
}
div#nav-search-wrap {
 background: #fff;
 padding: 0;
 margin: 0;
}
form#basic_search {
 float: right;
 margin: 6px 0 0 0;
}
form#basic_search label {
 color: #b31818;
}
form#basic_search a {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 font-weight: bold;
 color: #444;
 text-decoration: none;
 padding-left: 5px;
 padding-right: 5px;
}
form#basic_search a:hover {
 text-decoration: underline;
}
form#basic_search input {
 border: solid 1px #444;
 background: #FFF;
 margin-left: 0;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 padding: 0;
}
form#basic_search #searchSubmit {
 border: solid 1px #444;
 background: #444;
 color: #fff;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 padding: 0;
 margin: 0;
}
ul#nav-main {
}
ul#nav-main li {
 display: block;
 float: left;
}
ul#nav-main li a {
 display: block;
 margin: 0;
 padding: .3em 2em 0 2em;
 line-height: 2;
 background-color: #fff;
 color: #444;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 text-decoration: none;
}
ul#nav-main li a:hover {
 text-decoration: underline;
}
ul#nav-main li a.current {
 background-color: #555;
 color: #fff;
 text-decoration: none;
}
ul#nav-main li a.current:hover {
 text-decoration: underline;
}
div#bwcontent {
 clear: both;
 min-width: 960px;
 padding: 0;
 border-bottom: 1px solid #CCC;
}
div.contentSection {
 clear: both;
 margin: 0;
}
div.sideBarContainer {
 margin: 0 12px 10px 10px;
}

div#feature {
 float: left;
 min-height: 189px;
 overflow: hidden;
 display: inline;
 padding: 0;
 margin: 0;
}
div#feature img {
 padding: 0;
 margin: 0;
}
div#feature a {
}
div#errors {
 clear: both;
 background: red;
 border: 5px solid red;
 line-height: 1.5;
 padding: .5em;
 color: #FFF;
 font-size: 1.2em;
}
.secondaryColHeader {
 background-color: #fff;
 white-space: nowrap;
 clear: both;
 font-size: 12px;
 margin: 0;
 padding: 0 0 0 10px;
 border-top: 5px solid #b31818;
}
.secondaryColHeader h3 {
 display: inline;
 color: #b31818;
 font: 1.8em/1.5 Georgia,"Times New Roman",Times,serif;
 letter-spacing: 1px;
 line-height: 2;
}
a.linkBack:link,
a.linkBack:active,
a.linkBack:visited {
  display: block;
  float: right;
  margin: 1em 1em 0 0;
  text-decoration: none;
  color: #444;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
a.linkBack:hover {
  text-decoration: underline;
}
.groupHeader {
 padding: 0 12px;
 background: #273E6D;
}
.groupHeader h3 {
 display: inline;
}
.groupHeader a {
 font: bold 1em Arial, sans-serif;
 color: #273E6D;
 float: right;
}
.groupHeader a:hover {
  text-decoration: underline;
}
div.left_column {
 float: left;
 width: 240px;
 margin: 0;
 padding: 0;
 background-color: #fff;
}

div.sideBarContainer h4 {
 font-weight: bold;
 font-size: .8em;
 margin: 1.7em 0 .4em 0;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 line-height: 1.5;
 color: #b31818;
 padding: 0;
}
ul.viewList {
 margin: 0 1em;
 border-top: 1px solid #FFF;
}
ul.viewList li {
 border-bottom: 1px solid #FFF;
}
ul.viewList li a {
 font: bold 1.2em/2 Arial, sans-serif;
 color: #444;
}
ul.viewList li a.current {
 color: #84C03C;
}
ul.viewList li a:hover {
 text-decoration: underline;
}
ul.viewList li span {
 font-weight: bold;
 margin-left: 10px;
 padding: 4px;
 font-size: 1.5em;
 cursor: pointer;
}
#subsTree {
	margin: .6em 0 0 1em;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 5px;
	line-height: 1.5;
}
#subsTree ul li li {
	margin: 0 0 0 20px;
}
#subsTree li.hasChildren {
  margin: 0 0 0 10px;
}
#subsTree li.selected {
  font-weight: bold;
}
#subsTree li.closed ul {
  display: none;
}
#subsTree a {
  color: #444;
  text-decoration: none;
}
#subsTree a:hover {
  text-decoration: underline;
}
#subsTree .subsTreeToggle {
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
ul.sideLinksExpand {
 font-size: 1em;
 border-top: none;
 border-bottom: none;
 overflow: hidden;
}
ul.sideLinksExpand li h4 {
 display: inline;
 color: #444;
 margin-left: 5px;
}
ul.sideLinksExpand li a {
 margin: .5em .5em;
 padding-left: 3px;
 display: block;
 font: bold 1em Arial, sans-serif;
 color: #444;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 line-height: 1.5;
 text-decoration: none;
}
ul.sideLinksExpand li a.current {
 background: #E0E6D8;
 color: #444;
}
ul.sideLinksExpand li a.current:hover {
 color: #FFF;
}
ul.sideLinksExpand li a:hover {
 text-decoration: underline;
}
ul.sideLinksExpand li span {
 font-weight: bold;
 margin-left: 4px;
 padding-right: 1px;
 font-size: .9em;
 cursor: pointer;
}
.additionalUnivClicker,
.additionalOptionsClicker {
 cursor: pointer;
}
.additionalUnivClicker,
.additionalOptionsClicker h4 {
  color: #444;
}
div#groupListDiv {
 width: 720px;
 margin-left: 240px;
}
ul.groupList {
 margin: 0;
 padding: 0 0 0 8px;
 border-top: 2em solid #FFF;
 font-size: .9em;
}
ul.groupList li {
 margin: 0;
 padding: 0;
}
ul.groupList li a {
 padding: 4px;
 display: block;
 color: #444;
 font-family: arial, sans-serif;
 font-weight: bold;
 font-size: 1.2em;
}
ul.groupList li a.current {
 background: url("../images/selectedGroup.gif") no-repeat;
 background-position: top left;
}
ul.groupList li a.current:hover {
 color: #FFF;
}
ul.groupList li a:hover {
 text-decoration: underline;
}
select#groupSelection {
 width: 100%;
}
ul.sideLinks {
 margin: 0;
 padding: 0;
}
ul.sideLinks li {
 margin: .5em .5em;
 line-height: 1.6;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
}
ul.sideLinks li a {
 color: #444;
 font-weight: bold;
 text-decoration: none;
}
ul.sideLinks li a:hover {
 text-decoration: underline;
}
div.center_column {
 float: left;
 width: 480px;
 margin: 0;
 padding: 0;
}
a#prevViewPeriod, a#nextViewPeriod {
 font: italic 1.8em/2 Georgia,"Times New Roman",Times,serif;
 color: #b31818;
 text-decoration: none;
 padding: 0 .4em;
}
table.eventList {
 border-collapse: collapse;
 width: 100%;
 margin-left: 2px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
}
table.eventList tr td {
 padding: .7em .5em;
 font-size: .9em;
 border-bottom: 1px solid #C5C5C5;
}
table.eventList tr td.dateRow a {
 color: #444;
 font-weight: bold;
 text-decoration: none;
 font-size: 1.2em;
}
table.eventList tr td.dateRow a:hover {
  text-decoration: underline;
}
table.eventList tr td.time {
 text-align: center;
 background: #ECECEC;
 width: 8em;
 white-space: nowrap;
}
table.eventList tr td.time a {
 color: #444;
 text-decoration: none;
}
table.eventList tr td.time a:hover {
 text-decoration: underline;
}
table.eventList tr td.description a {
 color: #333;
}
table.eventList tr td.icons {
 width: 5em;
}
table.eventList .icons {
 float: right;
}
table.eventList .icons a {
 padding: 2px;
 display: inline;
}
table.eventList tr td.fillrow {
 border-bottom: none;
 height: 1px;
}
table.eventList tr td.eventFilterInfo {
 font-size: 1.1em;
}
table.eventList tr td span.displayGroupName,
table.eventList tr td span.displayFilterName {
 font-weight: bold;
}
table.eventList li {
 padding: 1px 0;
}
table.event-list {
 border-collapse: collapse;
 width: 100%;
 background: #ECECEC;
}
ul.eventList {
  font-size: 12px;
}
ul.eventList li {
 padding: .7em 1em;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 0.9em;
}
ul.eventList li a {
 display: inline;
 color: #397DAE;
}
a#allView {
 color: #444;
 text-decoration: none;
}
a#allView:hover {
 text-decoration: underline;
}
div.double_center_column {
 float: left;
 width: 720px;
 margin: 0;
 padding: 0;
}
div.groupDesc {
 display: block;
 padding: .3em 0 .1em 5em;
}
ul#calDisplayOptions {
 float: right;
 font: normal 1em/1 Arial, sans-serif;
 margin: 1.2em 0 0 0;
}
ul#calDisplayOptions li {
 float: left;
 list-style: none;
 margin: 0 .7em;
}
ul#calDisplayOptions li a {
 margin: 0 0 0 -3px;
 color: #444;
 text-decoration: none;
 font-weight: bold;
}
ul#calDisplayOptions li a:hover {
 text-decoration: underline;
}
ul#eventList {
 list-style: square;
 color: #397DAE;
}
ul#eventList li {
 color: #397DAE;
}
.bwStatusCancelled {
}
.bwStatusTentative {
}
.bwStatusConfirmed {
}
.eventTitle {
}
.eventListingCal {
}
.eventLink {
}
.eventWhen {
}
.eventWhere {
}
.eventDescription {
 margin: 1em 0;
}
.eventStatus {
}
.eventCost {
}
.eventLink {
}
.eventContact {
}
.eventCategories {
}
.eventComments {
}
.eventIcons {
 display: block;
}
.dateRangeCrossDay {
 background-color: red;
}
.dateRangeEarlyMorning {
 background-color: green;
}
.dateRangeMorning {
 background-color: yellow;
}
.dateRangeAfternoon {
 background-color: gray;
}
.dateRangeEvening {
 background-color: orange;
}
table.yearViewMonthTable {
 width: 168px;
 padding: 0;
 margin: 0 0 0 1em;
 font-size: .9em;
 border-top: 1px solid #CCC;
 border-collapse: collapse;
 float: left;
}
table.yearViewMonthTable th {
 width: 24px;
}
table.yearViewMonthTable tr td {
 height: 2em;
}
table.yearViewMonthTable tr td a {
  text-decoration: none;
  color: #444;
}
table.yearViewMonthTable tr td a:hover {
  text-decoration: underline;
}
div.yearMonthRow {
 clear: both;
 padding: 1.5em 0;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 line-height: 1.5;
}
.secondaryColHeader span.resultPages {
 float: right;
 margin: 0 1em;
 font: italic 1.8em/2 Georgia,"Times New Roman",Times,serif;
 color: #444;
 letter-spacing: 1px;
}
.secondaryColHeader span.resultPages.current {
 text-decoration: underline;
}
.secondaryColHeader span.resultPages a {
 color: #444;
}
.secondaryColHeader span.resultPages a:hover  {
 text-decoration: underline;
}
.resultPages#resultsBottom {
 display: block;
 clear: both;
 margin: 10px 0;
}
.resultPages#resultsBottom .current {
 text-decoration: underline;
}
.resultPages#resultsBottom {
}
div.display-header {
 font-weight: bold;
 font: italic 2em Georgia,"Times New Roman",Times,serif;
}
span.event-lab {
 width: 10%;
 font-style: italic;
 font-size: .8em;
 font-family: sans-serif;
 color: #078C2D;
}
span.tab-stop {
 width: 90%;
 color: #0A1599;
 font-size: 1em;
}
div.event-title {
 font-weight: bold;
 font: 1.3em Georgia,"Times New Roman",Times,serif;
 margin: .8em 0em .4em 0em;
}
span.numReturnedResults {
 display: block;
 clear: both;
 margin-top: 0;
 padding: 5px 0 5px 5px;
 font-size: 1.4em;
 background-color: #eee;
 border-top: solid 5px #b31818;
}
div.calendarList {
  float: left;
  margin: 0 0 0 4em;
}
.info {
  font-size: 14px;
  margin: 1em 1em 0 1em;
  font-family: Arial, Helvetica, sans-serif;
}
table#searchTable {
 font-size: .9em;
 color: #333;
}
table#searchTable th {
 font-size: 1.1em;
 font-weight: bold;
 border-bottom: 1px solid #BBB;
}
table#searchTable td {
 padding: .7em .5em;
 border-bottom: 1px solid #CCC;
 vertical-align: middle;
}
table#searchTable .search_relevance {
 width: 3em;
}
table#searchTable .search_date {
 width: 4em;
}
table#searchTable .search_summary {
 width: 24em;
 padding: 0 0 0 1em;
}
table#searchTable .search_summary a {
 color: #333;
}
table#searchTable .search_calendar {
 width: 10em;
}
table#searchTable .search_calendar a {
 color: #333;
}
table#searchTable .search_location {
 width: 8em;
}
table#searchTable td.search_date, table#searchTable td.search_relevance {
 background-color: #ECECEC;
}
div#advSearchForm {
 margin-left: 5px;
}
div#advSearch {
 margin: 0 0 10px 0;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 border-top: solid 5px #b31818
}
div#advSearch h3 {
 letter-spacing: 1px;
 display: inline;
 color: #b31818;
 font: 1.4em/2 Georgia,"Times New Roman",Times,serif;
 letter-spacing: 1px;
 line-height: 2;
}
div.singleEvent {
 padding: 1em 0 1em 8px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 line-height: 1.5;
}
div.singleEvent a {
 text-decoration: none;
 color: #444;
 font-weight: bold;
}
div.singleEvent a:hover {
 text-decoration: underline;
 
}
div.singleEvent h2 {
 display: block;
 font-size: 1.4em;
 border-bottom: 1px solid #CCC;
}
div.singleEvent .eventTitle {
  margin-bottom: 1em;
}
div.singleEvent .eventIcons {
 float: right;
 margin: 0 .8em;
}
div.singleEvent .eventIcons img {
 width: 16px;
}
div.singleEvent .infoTitle {
 color: #b31818;
}
div.singleEvent .tzdates {
  margin-left: 3em;
}
ul.calendarTree {
 padding: 1em;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
}
ul.calendarTree li {
 font-weight: bold;
 padding-top: 0.25em;
 padding-bottom: 0.25em;
}
ul.calendarTree li a {
 color: #444;
 text-decoration: none;
}
ul.calendarTree li a:hover {
 text-decoration: underline;
}
ul.calendarTree li ul {
 margin: 0 0 .5em 1.5em;
}
ul.calendarTree li ul li {
 font-weight: normal;
 margin: 0;
 padding: 0;
}
ul.calendarTree .exportCalLink {
  font-size: 0.6em;
  padding-left: 1em;
  color: #aaa;
  background-color: transparent;
}
ul.calendarTree .exportCalLink a:link,
ul.calendarTree .exportCalLink a:active,
ul.calendarTree .exportCalLink a:visited {
  color: #aaa;
  background-color: transparent;
  text-decoration: none;
}
ul.calendarTree .exportCalLink a:hover {
  color: #333;
}
#export {
  font-size: 1.1em;
  margin: 0px;
  padding: 1em;
}
#export em {
  font-size: 1.2em;
  font-style: italic;
}
#export p {
  margin-bottom: 1em;
}
#exportDateRange {
  font-size: 1em;
}
#bwExportEndField {
  padding-left: 1em;
}
.bwWidgetSubmit {
  display: block;
  margin-top: 0.5em;
}
.invisible {
  display: none;
}
div.right_column {
 float: left;
 width: 240px;
 margin: 0;
 padding: 0;
}
#additionalUnivSub,
#additionalOptionsSub {
  display: none;
}
div#footer {
 clear: both;
 padding: 5px 10px;
 color: #A1A1A1;
 font-size: .8em;
 font-family: Arial, Helvetica, sans-serif;
}
div#footer a {
 color: #A1A1A1;
}
div#footer a:hover {
 color: #666;
}
div#footer a.rss {
 float: right;
}
#searchCats h4 {
 font-size: 1.1em;
 padding: 3px;
 margin: 0;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.5;
}
#searchCats {
 padding: 6px;
 margin: 1em 0;
 border: solid 1px #CCC;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 line-height: 1.5;
}
#searchTermNotice {
 padding-bottom: 3px;
 padding-left: 3px;
 font-style: italic;
}
.bwEventImage {
 float: right;
 margin: 0pt 0.5em 1em 1em;
}
.moreLink {
 font-weight: bold;
}
.titleEvent {
 font-weight: bold;
 font-size: 1.2em;
 display: inline;
}
.titleEvent a {
 color: #444;
 text-decoration: none;
}
.titleEvent a:hover {
 text-decoration: underline;
}
#listEvents {
  margin: 1em;
}
#listEvents li {
  display: block;
  margin-bottom: 1em;
}
#page {
  margin: 1em;
}
#stats {
  font-size: 0.9em;
  margin: 0px;
  padding: 1em;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
}
#statsTable {
  margin: 1em 0 0 4em;
  width: 300px;
}
#statsTable th {
  padding: 0.5em;
  background-color: #eee;
  color: black;
}
#statsTable td.label {
  text-align: right;
  padding-right: 2em;
}
#footForms {
  float: right;
}
#footForms form {
  display: inline;
}
