/*
   Licensed to Jasig under one or more contributor license
   agreements. See the NOTICE file distributed with this work
   for additional information regarding copyright ownership.
   Jasig licenses this file to you under the Apache License,
   Version 2.0 (the "License"); you may not use this file
   except in compliance with the License. You may obtain a
   copy of the License at:
  
   http://www.apache.org/licenses/LICENSE-2.0
  
   Unless required by applicable law or agreed to in writing,
   software distributed under the License is distributed on
   an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   KIND, either express or implied. See the License for the
   specific language governing permissions and limitations
   under the License.  
*/

body {
  background-color: #2e2c27;
  font-family: verdana;
  font-size: 11px;
  color: #fff;
  padding: 0px;
  margin: 0px;
}
#nav {
  text-align: center;
  margin: 0;
  padding: 0;
}
.navlink {
  display: inline;
  font-weight: normal;
  padding: 4px;
  margin: 0 1px;
  background-color: #454544;
  color: white;
}
.selected {
  background-color: #999998;
  color: white;
}
.backlink {
  clear: both;
  margin: 2em 0;
}
h1 {
  font-size: 18px;
  margin: 0;
  padding: 3px;
  margin: 0;
  clear: both;
}
h2,h4,h5 {
  font-size: 12px;
}
h2.title {
  color: white;
  background-color: #555;
  text-align: center;
  vertical-align: middle;
  margin: 0 0 6px 0;
  padding: 6px;
}
h3 {
  color: white;
  background-color: transparent;
  padding: 0.5em 1em;
  margin: 0;
  font-weight: normal;
  font-size: 10px;
}
#eventList {
  clear: both;
  padding-top: 1em;
}
.even {
  background-color: #454544;
}
.odd {
  background-color: #999998;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 12px;
  margin-left: 0px;
}
#singleEvent {
  clear: both;
  margin-bottom: 1em;
}
td {
  padding-bottom: 10px;
}
p {
  padding-left: 3px;
}
p.noEvents {
  margin: 1em;
}
p.footer {
  clear: both;
  width: 100%;
  margin: 1em 0 0 0;
  padding: 0.5em 0;
  text-align: center;
  color: #ccc;
  background-color: #555;
}
.eventDescription {
  margin: 1em 0;
}
img.bwEventImage {
  float: right;
}
#dateSelect {
  margin: 1em 1em 0 1em;
}
a {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
a.underline {
  text-decoration: underline;
}

ul.calendarTree {
  margin: 1em 0 0 0;
}
ul.calendarTree li {
  font-weight: bold;
  padding: 0;
  margin: 0.5em 0 0.5em 2em;
}
ul.calendarTree li ul li {
  font-weight: normal;
}
#stateMsg {
  margin: 1em;
}
.displayFilterName {
  font-style: italic;
}
/*
ul.calendarTree li.folder {
  list-style-image: url("../images/catIcon.gif");
}
ul.calendarTree li.calendar {
  list-style-image: url("../images/calIcon-sm.gif");
}*/
